$border: 2px solid $fg-primary;

#dungeon {
  height: 100%;
  background-color: $bg-primary;
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: 75% 25%;

  #dungeon-map {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    #map-grid {
      .map-row {
        height: 32px;
      }
    }
  }

  #sidebar {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-left: $border;
  }

  #message-log {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: $fg-primary;
    border-top: $border;
  }
}